<div class="container" [ngClass]="{invisible: visibility}" >
  <p>Page Gallery</p>
  <h1 [ngClass]="{class1: true}" ></h1>
  <p [ngClass]="{class2: true}" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit expedita omnis beatae voluptatem non deserunt placeat ratione nulla dolorem repellendus!</p>


  <p [ngStyle]="{'color': 'red', 'margin': 'auto'}" >
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi inventore aperiam perspiciatis quos consequatur molestias.
  </p>


</div>
<button (click)="toggle()" >Click me</button>
